<!-- modal form -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {# formulario modal #}
        </div>
    </div>
</div>

{% comment %}
<!-- modal form -->
<div id="popup" class="modal fade" role="dialog">
</div>
{% endcomment %}

{% comment %}
<!-- modal form -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endcomment %}
