<!-- contenido modal -->
<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">{{object}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <table>
            <tr>
                <td><b>Id</b></td>
                <td style="padding:5px;">:</td>
                <td>{{object.pk}}</td>
            </tr>
            {% for f in object.get_fields %}
            <tr>
                <td><b>{{f.name|capfirst}}</b></td>
                <td style="padding:5px;">:</td>
                <td>{{f.value|escape}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!--
        <button type="button" class="btn btn-primary">Guardar</button>
        -->
    </div>
</div>
