<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Activo</th>
                <th>Documentación</th>
                <th>Mantenimiento</th>
                <th>Estado</th>
                <th>Próximo</th>
            </tr>
        </thead>
        <tbody id="items">
            {% for obj in activos %}
            <tr>
                <td>
                    <a href="#" class="read-activo" data-id="{% url 'rrhh:activo_read' obj.act_id %}">
                        {{obj.activo}} ({{ obj.get_tipo_display }})
                    </a>
                </td>
                <td>
                    {% if obj.doc_id %}
                    <a href="#" class="read-activo" data-id="{% url 'rrhh:documentacion_read' obj.doc_id %}">
                        {{obj.documentacion}}
                    </a>
                    {% endif %}
                </td>
                <td>
                    <a href="#" class="read-activo" data-id="{% url 'rrhh:mantenimiento_read' obj.mant_id %}">
                        {{obj.mantenimiento}}
                    </a>
                </td>
                <td class="color_{{obj.estado}}">
                    {{obj.get_estado_display}}
                </td>
                <td>{{obj.proximo|date:"d/m/Y"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <ul class="pagination" id="myPager"></ul>
        </div>
    </div>
</div>
