<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Siniestro</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Días</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="items">
            {% for obj in denuncias %}
            <tr>
                <td>{{obj.siniestro}}</td>
                <td>{{obj.fec_siniestro|date:"d/m/Y"}}</td>
                <td>{{obj.tipo_accidente}}</td>
                <td>{{obj.get_estado_display}}</td>
                <td>{{obj.dias_perdidos}}</td>
                <td>
                    <a href="#" class="read-modal btn btn-sm btn-primary" data-url="{% url 'rrhh:art_read' obj.empleado.persona_id obj.pk %}">
                        <span class="fa fa-eye"></span>
                    </a>
                    <a href="#" class="update-modal btn btn-sm btn-primary"
                                data-url="{% url 'rrhh:art_update' obj.empleado.persona_id obj.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="#" class="delete-modal btn btn-sm btn-danger" data-url="{% url 'rrhh:art_delete' obj.empleado.persona_id obj.pk %}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="#" class="read-modal btn btn-success pull-right" data-url="{% url 'rrhh:art_create' object.persona.id %}">
        <span class="fa fa-pencil"></span> Nueva denuncia
    </a>

    {% comment %}
    <hr>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <ul class="pagination" id="myPager"></ul>
        </div>
    </div>
    {% endcomment %}
</div>
{% comment %}
<hr>
<button class="create-book btn btn-primary" type="button" name="button">Nueva Denuncia</button>
{% endcomment %}
