{% extends "base_rrhh.html" %}
{% load humanize %}

{% block base_css %}
    <style>
        .form-control { font-size: unset; }
        label { margin-top: 20px; }
        .btn-lg, .btn-group-lg > .btn { font-size: unset; }
    </style>
{% endblock %}

{% block content %}
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ object }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-9">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#datos" data-toggle="tab">Datos Personales</a></li>
                {% comment %}
                <li><a href="#canales" data-toggle="tab">Caneles de Comunicación</a></li>
                {% endcomment %}
                <li><a href="#mensajes" data-toggle="tab">Mensages</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="datos">
                    {% include 'empleado/detalle_campos.html' %}
                </div>

                {% comment %}
                <div class="tab-pane" id="canales">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 10%">#</th>
                                    <th style="width: 30%">Tipo</th>
                                    <th>Texto</th>
                                </tr>
                            </thead>
                            <tbody id="items">
                                {% for obj in comunicaciones %}
                                <tr>
                                    <td>{{obj.id}}</td>
                                    <td>{{obj.get_tipo_display}}</td>
                                    <td>{{obj.texto}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <ul class="pagination" id="myPager"></ul>
                            </div>
                        </div>
                    </div>
                    <!--/table-resp-->

                    <hr>

                </div>
                {% endcomment %}

                <div class="tab-pane" id="mensajes">

                    <h2></h2>

                    <ul class="list-group">
                        <li class="list-group-item text-muted">Recibidos</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Dolor sit amet, consectetur adipiscing elit. Nulla imperdiet fermentum lacus...</a> 24/01/2019</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Nam augue felis, gravida ullamcorper enim at, ornare maximus purus...</a> 18/01/2019</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Vestibulum vel neque quis sapien posuere faucibus...</a> 18/01/2019</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Donec at elementum orci. In vestibulum vestibulum mauris in pellentesque...</a> 17/011/2019</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 17/01/2019</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Donec pulvinar tincidunt neque eu cursus...</a> 16/01/2019</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Ut sollicitudin placerat consectetur. In iaculis nulla laoreet nibh...</a> 15/01/2019</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Nunc eget diam et lacus ullamcorper consectetur...</a> 15/01/2019</li>

                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-3 hidden-xs">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Foto <i class="fa fa-photo fa-1x"></i>
                </div>
                <div class="panel-body">
                    {% if object.imagen %}
                    <img class="img-circle img-responsive" src="{{ object.imagen.url }}">
                    {% else %}
                    <img class="img-circle img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    {% endif %}
                </div>
            </div>

            {% if comunicaciones  %}
            <ul class="list-group">
                <li class="list-group-item text-muted">Comunicación <i class="fa fa-phone fa-1x"></i></li>
                {% for obj in comunicaciones %}
                    {% if obj.tipo in "tel,movil,wa,sms" %}
                    <li class="list-group-item text-right">
                        <span class="pull-left"><strong>{{obj.get_tipo_display}}</strong></span> {{obj.texto}}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="panel panel-info">
                <div class="panel-heading">Social <i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body">
                {% for obj in comunicaciones %}
                    {% if obj.tipo == "link"  %}
                    <a href="https://www.facebook.com/{{obj.texto}}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "face"  %}
                    <a href="https://www.facebook.com/{{obj.texto}}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "twitt" %}
                    <a href="https://twitter.com/{{obj.texto}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "ytube" %}
                    <a href="https://www.youtube.com/channel/{{obj.texto}}" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "git"   %}
                    <a href="https://github.com/{{obj.texto}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "pint"  %}
                    <a href="https://ar.pinterest.com/{{obj.texto}}" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "gmail" %}
                    <a href="https://aboutme.google.com/u/0/?referer=gplus" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>&nbsp;
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% endif  %}

            <!--
            <div class="panel panel-success">
                <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body"><a href="https://bootdey.com">https://bootdey.com</a></div>
            </div>

            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
            </ul>
            -->
        </div>
    </div>
</div>
{% endblock %}
