{% extends "base_rrhh.html" %}
{% load humanize %}

{% block base_css %}
<style>
    .form-control { font-size: unset; }
    label { margin-top: 20px; }
    .btn-lg, .btn-group-lg > .btn { font-size: unset; }

    #activos > li {
         padding-bottom: 10px;
    }
    #docs > li {
         padding-bottom: 10px;
         margin-left: 10%;
    }
    #mant > li {
         margin-left: 10%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ object }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-9">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#datos" data-toggle="tab">Datos Personales</a></li>
                <li><a href="#denuncias" data-toggle="tab">Denuncias ART</a></li>
                <li><a href="#activos" data-toggle="tab">Activos</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="datos">
                    {% include 'empleado/detalle_campos.html' %}
                </div>

                <div class="tab-pane" id="denuncias">
                    {% include 'empleado/denuncias.html' %}
                </div>

                <div class="tab-pane" id="activos">
                    {% include 'empleado/activos.html' %}
                </div>
            </div>
        </div>

        <div class="col-sm-3 hidden-xs">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Foto <i class="fa fa-photo fa-1x"></i>
                </div>
                <div class="panel-body">
                    {% if object.imagen %}
                    <img class="img-circle img-responsive" src="{{ object.imagen.url }}">
                    {% else %}
                    <img class="img-circle img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    {% endif %}
                </div>
            </div>

            {% if comunicaciones  %}
            <ul class="list-group">
                <li class="list-group-item text-muted">Comunicación <i class="fa fa-phone fa-1x"></i></li>
                {% for obj in comunicaciones %}
                    {% if obj.tipo in "tel,movil,wa,sms" %}
                    <li class="list-group-item text-right">
                        <span class="pull-left"><strong>{{obj.get_tipo_display}}</strong></span> {{obj.texto}}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="panel panel-info">
                <div class="panel-heading">Social <i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body">
                {% for obj in comunicaciones %}
                    {% if obj.tipo == "link"  %}
                    <a href="https://www.facebook.com/{{obj.texto}}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "face"  %}
                    <a href="https://www.facebook.com/{{obj.texto}}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "twitt" %}
                    <a href="https://twitter.com/{{obj.texto}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "ytube" %}
                    <a href="https://www.youtube.com/channel/{{obj.texto}}" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "git"   %}
                    <a href="https://github.com/{{obj.texto}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "pint"  %}
                    <a href="https://ar.pinterest.com/{{obj.texto}}" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a>&nbsp;
                    {% endif %}
                    {% if obj.tipo == "gmail" %}
                    <a href="https://aboutme.google.com/u/0/?referer=gplus" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>&nbsp;
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% endif  %}

            {% comment %}
            <div class="panel panel-success">
                <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body"><a href="https://bootdey.com">https://bootdey.com</a></div>
            </div>

            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
            </ul>
            {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}
