{% extends "rrhh/base.html" %}

{% block base_css %}
    <style>
        .form-control { font-size: unset; }
        .btn-lg, .btn-group-lg > .btn { font-size: unset; }
    </style>
{% endblock %}

{% block content %}
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-8">
            <div class="tab-content">
                <div class="tab-pane active" id="datos">
                    <form method="post" class="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'empleado/campos.html' %}
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-4 hidden-xs">
            <br>
            <ul class="list-group">
                <li class="list-group-item text-muted">
                    <a onclick="return abrir_modal('{% url 'rrhh:canal_new' %}')">
                        <i class="fa fa-phone fa-1x"></i>
                    </a> Canales de Comunicación
                </li>
                {% for obj in comunicaciones %}
                    {% if obj.tipo in "tel,movil,wa,sms" %}
                    <li class="list-group-item text-right">
                        <span class="pull-left"><strong>{{obj.get_tipo_display}}</strong></span> {{obj.texto}}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
