{% extends "base_rrhh.html" %}

{% block base_css %}
    <style>
        .form-control { font-size: unset; }
        .btn-lg, .btn-group-lg > .btn { font-size: unset; }
    </style>
{% endblock %}

{% block content %}
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ object }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-push-2 col-sm-8">
            <div class="tab-content">
                <div class="tab-pane active" id="datos">
                    <form method="post" class="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'empleado/campos.html' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
