{% extends "base_rrhh.html" %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-list-alt"></span> Empleados
                </h3>
            </div>
            <div class="panel-body">
                {% if user.is_authenticated %}
                <div align="right" class="btn_crear mb-3">
                    <a href="{% url 'rrhh:empl_new' %}" type="button" class="btn btn-primary" style="margin-bottom:10px">
                        <i class="glyphicon glyphicon-plus"></i> Crear </a>
                </div>
                {% endif %}

                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="priority-1">Nombre</th>
                            <th class="priority-2">Legajo</th>
                            <th class="priority-3">Actividad</th>
                            <th class="priority-4">F.Ingreso</th>
                            <th class="priority-4">F.Egreso</th>
                            <th class="priority-4">Activo</th>
                            {% if user.is_authenticated %}
                            <th class="priority-1">Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td class="priority-1">
                                <a href="{{object.get_absolute_url}}">{{object}}</a>
                            </td>
                            <td class="priority-2">{{object.legajo}}</td>
                            <td class="priority-3">{{object.tarea}}</td>
                            <td class="priority-4">{{object.fec_ing|date:"d/m/Y"}}</td>
                            <td class="priority-4">{{object.fec_egr|date:"d/m/Y"}}</td>
                            <td class="priority-1">{{object.active|yesno:"Sí,No"}}</td>
                            {% if user.is_authenticated %}
                            <td class="priority-1">
                                {# url 'clientes:detail' object.idcliente #}
                                <a href="{{object.get_update_url}}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a> |
                                <a onclick="return abrir_modal('{% url 'rrhh:empl_delete' object.pk %}')">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {# paginación #}
                {% include 'paginator.html' %}
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-filter"></span> Filtro
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    {% include 'comunes/filter_fields.html' %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
