<!DOCTYPE html>
{% load static %}

<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Roberto West">
        <meta name="description" content="">

        <title>Lubre SRL</title>

        <!-- sytlesheets -->
        <link rel="stylesheet" href="{% static '/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap-glyphicons.css' %}">

        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static '/favicon.png' %}"/>
    </head>
    <body>
        <div style="padding-top: 70px;">
            <!-- separador -->
        </div>

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static '/js/jquery.js' %}"></script>
        <script src="{% static '/js/popper.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
    </body>
</html>
