<!DOCTYPE html>
{% load static %}

<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Roberto West">
        <meta name="description" content="">

        <title>Lubre SRL</title>

        <!-- sytlesheets -->
        <link rel="stylesheet" href="{% static '/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap-glyphicons.css' %}">

        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static '/favicon.png' %}"/>

        <style>
        .color_V { color: #155724;
                   background-color: #c3e6cb; }
        .color_A { color: #856404;
                   background-color: #ffeeba; }
        .color_R { color: #721c24;
                   background-color: #f1b0b7;}
        </style>
    </head>
    <body>
        {% include "layouts/b4/navbar.html" %}

        <div style="padding-top: 70px;">
            <!-- separador -->
        </div>

        {% block modal %}
            <!-- contenedor para ventana modal -->
        {% endblock %}

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static '/js/jquery.js' %}"></script>
        <script src="{% static '/js/popper.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.min.js' %}"></script>

        {% block js %}
            <!-- JS para #modal -->
        {% endblock %}
    </body>
</html>
