{% load static %}
<h5>
    <span id="tit-act-doc">Documento del activo</span>
    <a href="#" class="create-modal" data-url="{% url 'rrhh:act_doc_create' Empleado.persona_id %}">
        <span class="glyphicon glyphicon-plus pull-right"></span>
    </a>
</h5>
<div class="table-responsive">
    <table class="table table-sm">
        {% for obj in ActDoc %}
        <tr>
            <td>
                <a href="#" onclick="activo_documento({{obj.pk}})" data-id="{{obj.pk}}" name="act-doc">
                    {{obj.descripcion}}
                </a>
            </td>
            <td align="right">
                <a href="#">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>