{% load static %}
<h5>
    Mantenimiento del documento del activo
    <a href="" data-ref="{{referencia}}">
        <span class="glyphicon glyphicon-plus pull-right"></span>
    </a>
</h5>
<div class="table-responsive">
    <table class="table table-sm">
        {% for obj in ActDocMan %}
        <tr>
            <td>
                {{obj.descripcion}}
            </td>
            <td align="right">
                <a href="">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>