{% load static %}
<h5>
    Activos
    <a href="#" class="create-modal" data-url="{% url 'rrhh:act_create' Empleado.persona_id %}">
        <span class="glyphicon glyphicon-plus pull-right"></span>
    </a>
</h5>
<div class="table-responsive">
    <table class="table table-sm">
        {% for obj in Act %}
        <tr>
            <td>
                <a href="#" onclick="activo({{obj.pk}});" data-id="{{obj.pk}}" name="act">
                    {{obj.get_tipo_display}} {{obj.identificacion}}
                </a>
            </td>
            <td align="right">
                <a href="">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>