<h5>
    Mantenimiento del documento
    <a href="">
        <span class="glyphicon glyphicon-plus pull-right"></span>
    </a>
</h5>
<div id="doc-man" class="table-responsive">
    <table class="table table-sm">
        {% for obj in DocMan %}
        <tr>
            <td>
                <a href="#" onclick="activo( {{obj.pk}} );">
                    {{obj.get_tipo_display}} {{obj.identificacion}}
                </a>
            </td>
            <td align="right">
                <a href="">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>