{% extends "layouts/base_b3.html" %}
{% load static %}

{% block base_css %}
    <link href="{% static 'css/table.css' %}" rel="stylesheet">
{% endblock %}

{% block base_title %}
    Juridico
{% endblock %}

{% block base_navbar %}
    {% include 'navbar_juridico.html' %}
{% endblock %}

{% block base_footer %}
{% endblock %}

{% block base_content %}
    <div class="container theme-showcase" role="main" style="padding-top: 20px;">
    </div>

    {% block content %}
    {% endblock %}
{% endblock %}

