{% block sidebar %}


<div class="col-md-4">


    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


    <div class="card my-4">
        <h5 class="card-header">Conocenos ...</h5>
        <div class="card-body">
            <p class="card-text">Empresa familiar que inicia sus actividades en el año 1990, como proveedor de insumos de la agroindustria azucarera y citrícola del Noroeste argentino, y como productor agropecuario en la producción citrícola en Tucumán.</p>
            <a href="http://lubresrl.com.ar"
               class="btn btn-danger"> Nuestra Web </a>
        </div>
    </div>
</div>
{% endblock sidebar %}
