{# https://djangocentral.com/building-a-blog-application-with-django #}

{% block sidebar %}
<style>
.card{
    box-shadow: 0 16px 48px #E3E7EB;
}
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Conocenos ...</h5>
        <div class="card-body">
            <p class="card-text">Empresa familiar que inicia sus actividades en el año 1990, como proveedor de insumos de la agroindustria azucarera y citrícola del Noroeste argentino, y como productor agropecuario en la producción citrícola en Tucumán.</p>
            <a href="http://lubresrl.com.ar"
               class="btn btn-danger"> Nuestra Web </a>
        </div>
    </div>
</div>
{% endblock sidebar %}