{% extends "usuarios/base.html" %}
{% load static %}

{% block message %}
    <!-- errores -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'usuarios:register' %}" class="form-signin">
        {% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>

        <label for="userName" class="sr-only">Nombre de Usuario</label>
        <input name="username" type="text" id="userName" class="form-control" placeholder="Nombre de Usuario" required autofocus>

        <label for="inputPassword1" class="sr-only">Contraseña</label>
        <input name="password1" type="password" id="inputPassword1" class="form-control" placeholder="Contraseña" required>

        <hr>

        <label for="inputPassword2" class="sr-only">Confirmar contraseña</label>
        <input name="password2" type="password" id="inputPassword2" class="form-control" placeholder="Confirmar contraseña" required>

        <br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
        <input type="hidden" name="next" value="{{ next }}" />

        <p class="mt-5 mb-3 text-muted">
            <a href="{% url 'usuarios:login' %}">Ya soy usuario</a>
        </p>
    </form>
{% endblock %}