{% extends "base_clientes.html" %}

{# ICONOS: https://getbootstrap.com/docs/3.3/components/ #}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-list-alt"></span> Tabla de Clientes
                </h3>
            </div>
            <div class="panel-body">
                <div align="right" class="btn_crear mb-3">
                    <a href="crear" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Crear </a>
                </div>

                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="priority-1">Nombre</th>
                            <th class="priority-2">Actividad</th>
                            <th class="priority-3">Califica</th>
                            <th class="priority-4">Estado</th>
                            <th class="priority-1">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td class="priority-1">{{object.fantasia}}</td>
                            <td class="priority-2">{{object.actividad.descripcion}}</td>
                            <td class="priority-3">{{object.califica.descripcion}}</td>
                            <td class="priority-4">{{object.estadocliente.descripcion}}</td>
                            <td class="priority-1">
                                <a href="{% url 'clientes:detail' object.idcliente %}"><span class="glyphicon glyphicon-eye-open"></span></a> |
                                <a href="{% url 'clientes:edit' object.idcliente %}"><span class="glyphicon glyphicon-pencil"></span></a> |
                                <a href="{% url 'clientes:delete' object.idcliente %}"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {# paginación #}
                {% include 'paginator.html' %}
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-filter"></span> Filtro
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    {% include 'comunes/filter_fields.html' %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
