{% extends "rrhh/base.html" %}
{% load static %}

{% block modal %}
    <!-- modal -->
    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <table cellpadding="10" cellspacing="10" width="100%">
            <thead>
                <tr>
                    <td id="seleccion" colspan="3">
                        <h5>{{empleado}}</h5>
                    </td>
                </tr>
            </thead>
            <tr>
                <!-- activos -->
                <td style="width: 50%">
                    <div id="activo" class="shadow-lg p-3 mb-5 bg-white rounded">
                        {% include 'asignacion/activos.html' %}
                    </div>
                </td>
                <!-- mantenimientos -->
                <td colspan="2" style="vertical-align: top">
                    <div id="mantenimiento" class="shadow p-3 mb-5 bg-white rounded">
                        {% include 'asignacion/mantenimientos.html' %}
                    </div>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

{% block js %}
    <!-- JS necesarios para que funcione #modal -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $(".create-modal").each(function() {
                $(this).modalForm({
                    formURL: $(this).data('url'),
                });
            });

            $(".update-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('url')
                });
            });
        });
    </script>
{% endblock %}
