{% extends "rrhh/base.html" %}
{% load static %}

{% block modal %}
    <!-- modal -->
    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% comment %}

    Empleado
        puede tener documentación
            la documentación puede tener mantenimiento

        puede tener asignación de activos
            el activo puede tener mantenimiento
            el activo puede tener documentación
                la documentación del activo puede tener mantenimiento

{% endcomment %}

{% block content %}
    <div class="container">
        <table cellpadding="10" cellspacing="10" width="100%">
            <thead>
                <tr>
                    <td id="seleccion" colspan="3">
                        <h5>{{Empleado}}</h5>
                    </td>
                </tr>
            </thead>
            <tr>
                <!-- documentos -->
                <td>
                    <div id="doc" class="shadow-lg p-3 mb-5 bg-white rounded">
                        {% include 'asignacion/ajax/doc_ajax.html' %}
                    </div>
                </td>
                <!-- documento-mantenimiento -->
                <td colspan="2" style="vertical-align: top">
                    <div id="doc-man" class="shadow p-3 mb-5 bg-white rounded" style="display: none;">
                        <h5>Mantenimiento del documento</h5>
                    </div>
                </td>
            </tr>
            <tr>
                <!-- activos -->
                <td rowspan="2" style="vertical-align: top">
                    <div id="act" class="shadow p-3 mb-5 bg-white rounded">
                        {% include 'asignacion/ajax/act_ajax.html' %}
                    </div>
                </td>
                <!-- activo-mantenimiento -->
                <td colspan="2">
                    <div id="act-man" class="shadow p-3 mb-5 bg-white rounded" style="display: none;">
                        <h5>Mantenimiento del activo</h5>
                    </div>
                </td>
            </tr>
            <tr>
                <!-- activo-documentos -->
                <td>
                    <div id="act-doc" class="shadow p-3 mb-5 bg-white rounded" style="display: none;">
                        <h5>Documento del activo</h5>
                    </div>
                </td>
                <!-- activo-documento-mantenimiento -->
                <td style="vertical-align: top">
                    <div id="act-doc-man" class="shadow p-3 mb-5 bg-white rounded" style="display: none;">
                        <h5>Mantenimiento del documento del activo</h5>
                    </div>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

{% block js %}
    <!-- JS necesarios para que funcione #modal -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $(".create-modal").each(function() {
                $(this).modalForm({
                    formURL: $(this).data('url'),
                });
            });

            $(".update-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('url')
                });
            });

        });
    </script>

    <!-- jQuery del documento actual -->
    <script type="text/javascript">
        $(document).ready (function () {
            {% if Doc %}
                $('#doc-man').show();
            {% endif %}

            {% if Act %}
                $('#act-man').show();
                $('#act-doc').show();
            {% endif %}

            {% if ActDoc %}
                $('#act-doc-man').show();
            {% endif %}

            $('.create-modal').click(function(e) {
                // elimino el comportamiento por defecto del enlace
                e.preventDefault();

                // $('#modal').modal("show");
                // alert( $(this).data('url') );
            });
        });

        // cargamos la infromación al seleccionar un documento
        function documento(idref) {
            $.ajax({
                url: '/rrhh/doc_man_ajax/',
                data: {
                    id: idref
                },
                success: function(response) {
                    $('#doc-man').html(response);
                }
            });
        };

        // cargamos la infromación al seleccionar un activo
        function activo(idref) {
            $.ajax({
                url: '/rrhh/act_man_ajax/',
                data: {
                    id: idref
                },
                success: function(response) {
                    $('#act-man').html(response);
                }
            });

            // documentación del activo
            $.ajax({
                url: '/rrhh/act_doc_ajax/',
                data: {
                    id: idref
                },
                success: function(response) {
                    $('#act-doc').html(response);
                }
            });
        };

        // cargamos la infromación al seleccionar un activo-documento
        function activo_documento(idref) {
            // documento del mantenimientos del activo

            $.ajax({
                url: '/rrhh/act_doc_man_ajax/',
                data: {
                    id: idref
                },
                success: function(response) {
                    $('#act-doc-man').html(response);
                }
            });
         };

    </script>
{% endblock %}
