<fieldset>
    {% for field in form %}
        {% if field.errors %}
            <div class="control-group error">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                    <span class="help-inline">
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                </div>
            </div>
        {% else %}
            <div class="form-group">
                <label class="control-label col-sm-3">{{ field.label }}</label>
                <div class="col-sm-9">
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</fieldset>

<legend></legend>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="{% url 'clientes:show' %}" type="submit" class="btn btn-default">Cancelar</a>
    </div>
</div>
