{% extends "layouts/base_b4.html" %}
{% load static %}

{% block css %}
<style>
.color_C { color: #155724;
           background-color: #c3e6cb; }
.color_A { color: #856404;
           background-color: #ffeeba; }
.color_N { color: #721c24;
           background-color: #f1b0b7;}
</style>
{% endblock %}

<!-- contenido -->
{% block content %}
    {% block local_content %}
    {% endblock %}

    <!-- modal form -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {# formulario modal #}
            </div>
        </div>
    </div>

    <!-- modal form -->
    <div id="popup" class="modal fade" role="dialog">
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script src="{% static 'js/autotabla.js' %}"></script>
<script type="text/javascript">
    $(function () {
        // Create book button
        $(".create-book").modalForm({formURL: "{% url 'rrhh:art_create' %}"});

        // Update book buttons
        $(".update-book").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });

        // Read book buttons
        $(".read-book").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });

        // Delete book buttons
        $(".delete-book").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        })

        // info de activo
        $(".read-activo").each(function () {$(this).modalForm({formURL: $(this).data('id')});});

        // Hide message
        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
        });
    });
</script>
<script>
    function abrir_modal(url)
    {
        $('#popup').load(url, function()
        {
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal()
    {
        $('#popup').modal('hide');
        return false;
    }
</script>
{% endblock %}