{% extends "layouts/base.html" %}
{% load static %}

{% block base_css %}
    <link href="{% static 'css/table.css' %}" rel="stylesheet">
    <script>
        .modal-header {
            min-height: 16.42857143px;
            padding: 15px;
        }
    </script>
{% endblock %}

{% block base_title %}
    RRHH
{% endblock %}

{% block base_navbar %}
    {% include 'navbar_rrhh.html' %}
{% endblock %}

{% block base_footer %}
{% endblock %}

{% block base_content %}
    <div class="container theme-showcase" role="main" style="padding-top: 20px;">
    </div>

    {% block content %}
    {% endblock %}

    <!-- modal form -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {# formulario modal #}
            </div>
        </div>
    </div>

    <!-- modal form -->
    <div id="popup" class="modal fade" role="dialog">
    </div>
{% endblock %}

{% block base_js %}
<script src="{% static 'js/autotabla.js' %}"></script>
<script type="text/javascript">
    $(function () {
        // Create book button
        $(".create-book").modalForm({formURL: "{% url 'rrhh:art_create' %}"});

        // Update book buttons
        $(".update-book").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });

        // Read book buttons
        $(".read-book").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });

        // Delete book buttons
        $(".delete-book").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        })

        // info de activo
        $(".read-activo").each(function () {$(this).modalForm({formURL: $(this).data('id')});});

        // Hide message
        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
        });
    });
</script>

<script>
    function abrir_modal(url)
    {
        $('#popup').load(url, function()
        {
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal()
    {
        $('#popup').modal('hide');
        return false;
    }
</script>
{% endblock %}