{% extends "rrhh/base.html" %}

{% load static %}

{% block css %}
    {% block css2 %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            {% block content2 %}{% endblock %}
        </div>

        <div class="col-2">
            <div class="card mb-3">
                <div class="card-header"> {#  text-white bg-primary #}
                    <h5 class="panel-title">Filtro</h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        {% include 'comunes/filter_fields.html' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% block js2 %}{% endblock js2 %}
{% endblock %}