{% load group_tags %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Solicitud</th>
            <th>Estado</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Observación</th>
            <th>Solicitados</th>
            <th>Hábiles</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for vac in object_list %}
        <tr>
            <td>{{ vac.fec_solicitud|date:"d/m/Y" }}</td>
            <td class="{% if vac.estado == 'P' %}text-danger{% else %}text-success{% endif %}">{{ vac.get_estado_display }}</td>
            <td>{{ vac.fec_inicio|date:"d/m/Y" }}</td>
            <td>{{ vac.fec_fin|date:"d/m/Y" }}</td>
            <td>{{ vac.observacion }}</td>
            <td align="center">{{ vac.dias_solicitados }}</td>
            <td align="center">{{ vac.dias_habiles }}</td>
            <td>
                {% if request.user|has_group:"RRHH" %}
                    {% if vac.estado == 'P' %}
                        <a href="{% url 'rrhh:empl_vaca_aceptar' empl_id vac.pk %}">
                            <span class="mr-1 glyphicon glyphicon-thumbs-up text-success" data-toggle="tooltip" title="Aprobar"></span>
                        </a>
                        <spam class="ml-1 mr-1">|</spam>
                    {% else %}
                        <a href="{% url 'rrhh:empl_vaca_pendiente' empl_id vac.pk %}">
                            <span class="mr-1 glyphicon glyphicon-thumbs-down text-danger" data-toggle="tooltip" title="Pendiente"></span>
                        </a>
                    {% endif %}
                {% endif %}
                {% if vac.estado == 'P' %}
                    <a href="#" class="open-modal" data-url="{% url 'rrhh:empl_vaca_update' empl_id vac.pk %}">
                        <span class="mr-1 glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="#" class="open-modal" data-url="{% url 'rrhh:empl_vaca_delete' empl_id vac.pk %}">
                        <span class="mr-1 glyphicon glyphicon-trash text-danger"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
