<table class="table table-hover">
    <thead>
        <tr>
            <th>Estado</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Solicitud</th>
            <th>Observación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for vac in vacaciones %}
        <tr>
            <td>{{ vac.get_estado_display }}</td>
            <td>{{ vac.fec_inicio|date:"d/m/Y" }}</td>
            <td>{{ vac.fec_fin|date:"d/m/Y" }}</td>
            <td>{{ vac.fec_solicitud|date:"d/m/Y" }}</td>
            <td>{{ vac.observacion }}</td>
            <td>
                {% if vac.estado == 'P' %}
                <a href="#" class="open-modal" data-url="{% url 'empleados:vacaciones_update' vac.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a> |
                <a href="#" class="open-modal" data-url="{% url 'empleados:vacaciones_delete' vac.pk %}">
                    <span class="glyphicon glyphicon-trash text-danger"></span>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<a href="#" class="open-modal btn btn-success pull-right" data-url="{% url 'empleados:vacaciones_create' object.persona.id %}">
    <span class="glyphicon glyphicon-plus"></span> Solicitar vacaciones
</a>
