{% extends "empleados/base.html" %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col-md-2">
            {% block sidebar %}
                {% include 'empleados/_sidebar.html' %}
            {% endblock %}
        </div>
        <div class="col-md-8">
            <h1 class="mb-3">{{ object.persona }}</h1>
            {% include 'empleados/_vacaciones.html' %}
        </div>
        <div class="col-md-2">
            <div class="card mb-3">
                <div class="card-header">Vacaciones</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>{{ object.vacaciones.totales }}</b> días totales</li>
                    <li class="list-group-item"><b>{{ object.vacaciones.habiles }}</b> días hábiles</li>
                    <li class="list-group-item"><b>{{ object.vacaciones.aprobados }}</b> días aprobados</li>
                    <li class="list-group-item"><b>{{ object.vacaciones.aprobacion }}</b> días para aprobación</li>
                    <li class="list-group-item"><b>{{ object.vacaciones.pendientes }}</b> días pendientes</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block modal %}
    <!-- modal -->
    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        </div>
    </div>
{% endblock %}


{% block js %}
    <!-- JS necesarios para que funcione #modal -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $(".create-modal").each(function() {
                $(this).modalForm({
                    formURL: $(this).data('url'),
                    modalContent: ".modal-dialog",
                    modalForm: ".modal-dialog form",
                });
            });

            $(".read-modal").each(function() {
                $(this).modalForm({
                    formURL: $(this).data('url'),
                    modalContent: ".modal-dialog",
                    modalForm: ".modal-dialog form",
                });
            });

            $(".update-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('url'),
                    modalContent: ".modal-dialog",
                    modalForm: ".modal-dialog form",
                });
            });

            $(".delete-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('url'),
                });
            });

            // hide message
            $(".alert").fadeTo(2000, 500).slideUp(500, function() {
                $(".alert").slideUp(500);
            });

            // autofocus to first input field of a modal
            $('.modal').on('shown.bs.modal', function() {
                $('form').find('input[type=text]').filter(':visible:first').focus();
            });
        });
    </script>
{% endblock %}