{% load static %}
{% load group_tags %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">
        <img src="{% static 'favicon.png' %}" style="width: 26px;"> Lubre SRL
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <!--
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            -->
            {# comprobamos si es un usuario autenticado #}
            {% if user.is_authenticated %}
                <!-- empleados -->
                {% if request.user|has_group:"Empleados" %}{% include 'layouts/b4/_empleados.html' %}{% endif %}
                <!-- rrhh -->
                {% if request.user|has_group:"RRHH" %}{% include 'layouts/b4/_rrhh.html' %}{% endif %}
            {% endif %}
        </ul>
        <!-- login -->
        <ul class="navbar-nav text-nowrap">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <!--
                    <a href="{% url 'usuarios:profile' %}" class="btn btn-info">{{ user.username }}</a>
                    -->
                    <a href="{% url 'usuarios:profile' %}" class="nav-link mr-2"><i class="glyphicon glyphicon-user"></i> {{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'usuarios:logout' %}" class="btn btn-light" href="">Salir</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'usuarios:register' %}" class="btn btn-light">Registrarse</a>
                    <a href="{% url 'usuarios:login' %}" class="btn btn-light">Iniciar</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
