<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/home/"><span class="glyphicon glyphicon-globe"></span> Lubre SRL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <!--
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            -->
            {% if '/rrhh/' in request.path %}
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="rrhh"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RRHH</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'rrhh:empl_show' %}">Empleados</a>
                    <a class="dropdown-item" href="{% url 'blog:home' %}">Blog</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rrhh:home' %}">RRHH <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </ul>
        <!-- login -->
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'usuarios:profile' %}" class="btn btn-info">{{ user.username }}</a>
                    <a href="{% url 'usuarios:logout' %}" class="btn btn-light" href="">Salir</a>
                    <!-- users/password_reset/ -->
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'usuarios:register' %}" class="btn btn-light" href="">Registrarse</a>
                    <a href="{% url 'usuarios:login' %}" class="btn btn-light" href="">Iniciar</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
